{{ $about := .Site.GetPage "about" }}

<section class="about-me">
  <div class="container col-lg-12 col-xl-10 col-xxl-8">
    <div class="row">
      <div class="col-lg-7 col-sm-7">
        {{ if $about }}
        <h1 class="text-uppercase">{{ i18n "about.know-more" }}<br />{{ i18n "about.about-me" }}</h1>
        <p>{{ $about.Content }}</p>
        {{ end }}

        {{ if .IsTranslated }}
        <div class="opacity-50">
          {{ i18n "translations.also-available-in" }}:
          {{ range .Translations }}
            <a href="{{ .Permalink }}">{{ .Language.LanguageName }}</a>
          {{ end }}
        </div>
        {{ end }}
      </div>
      <div class="col-lg-5 col-sm-5">
        {{ $image := .Resources.Get "images/about-me.jpg" }}
        <img class="img-fluid photo" src="{{ "images/about-me.jpg" | relURL }}">
      </div>
    </div>
  </div>
</section>
