{{ $about := .Site.GetPage "about" }}

<section class="about-me">
  <div class="container col-lg-12 col-xl-10 col-xxl-8">
    <div class="row">
      <div class="col-lg-7 col-sm-7">
        {{ if $about }}
        <h1 class="text-uppercase">{{ i18n "about.know-more" }}<br />{{ i18n "about.about-me" }}</h1>
        <div class="mb-3 content">{{ $about.Content }}</div>
        {{ end }}

        {{ if .IsTranslated }}
        <div class="alt-languages fw-semibold">
          <span class="icon">{{ (resources.Get "icons/language.svg").Content | safeHTML }}</span>
          {{ i18n "translations.also-available-in" }}
          {{- range .Translations }} <a href="{{ .Permalink }}">{{ i18n (printf "translations.%s" .Language.Lang) }}</a>{{- end -}} .
        </div>
        {{ end }}
      </div>
      <div class="extra col-lg-5 col-sm-5 pt-5 pt-sm-0 pb-4 text-sm-end">
        {{ if .Site.Data.projects.items }}
        <h2 class="text-uppercase pb-2 pb-sm-4 mb-0 mb-sm-3">{{ i18n "about.contact" }}</h2>

        {{ range .Site.Data.contacts.items }}
        <div class="d-flex flex-row flex-sm-row-reverse">
          {{ if .icon }}
          {{- $iconFile := resources.GetMatch (printf "icons/%s.svg" .icon) | resources.Minify -}}
          {{- if $iconFile -}}
          <div class="align-self-center ps-sm-3 ps-0 pe-3 pe-sm-0">
            {{- if .link }}<a href="{{ .link }}" class="no-underline">{{ end -}}
            <span class="icon">{{ $iconFile.Content | safeHTML }}</span>
            {{- if .link }}</a>{{ end -}}
          </div>
          {{- else -}}
          {{- errorf "Error: icon '%s.svg' is not found under 'assets/icons' folder" . -}}
          {{- end -}}
          {{- end }}
          <div class="align-self-center pb-1 my-2">{{- if .link }}<a href="{{ .link }}">{{ end -}}{{ .title }}{{- if .link }}</a>{{ end -}}</div>
        </div>
        {{- end }}

<!--        <ul class="list-unstyled">-->
<!--          <li>Habrahabr <span class="icon">{{ (resources.Get "icons/habr.svg").Content | safeHTML }}</span></li>-->
<!--          <li><span class="icon">{{ (resources.Get "icons/telegram.svg").Content | safeHTML }}</span></li>-->
<!--        </ul>-->
        {{- end }}
      </div>
    </div>
  </div>
</section>
