<section class="about-me">
  <div class="container col-lg-12 col-xl-10 col-xxl-8">
    <div class="row">
      <div class="col-12 col-lg-7 experience">
        <h3 class="pb-5 text-uppercase">{{ i18n "experience.experience" }}</h3>
        <ul class="list list-unstyled ps-1">
          {{ range sort (where .Site.Pages "Section" "experience") "Weight" "desc" }}
          {{- if .Params.title }}
          <li>
            <h4 class="my-0">{{ .Params.title }}</h4>
            <span>{{- if .Params.link -}}
            <a href="{{ .Params.link }}" rel="nofollow">{{ .Params.project }}</a>
            {{- else -}}
            {{- .Params.project -}}
            {{- end -}}</span>
            {{if .Params.period -}}<span class="data">{{ .Params.period }}</span>{{- end }}
            {{if .Params.location -}}<span><i class="ti ti-map-pin"></i> {{ .Params.location }}</span>{{- end }}
            <div class="content">
              {{ .Content }}
            </div>
            {{ if .Params.stack }}
            <ul class="list-inline">
              <li class="list-inline-item">Stack:</li>
              {{- range .Params.stack }}
              <li class="list-inline-item"><span class="badge">{{ . }}</span></li>
              {{- end -}}
            </ul>
            {{ end -}}
          </li>
          {{- end }}
          {{- end }}
        </ul>
      </div>
      <div class="col-12 col-lg-5">
        {{ if .Site.Data.skills.items }}
        <div class="skill">
          <h3 class="text-uppercase pb-5">{{ i18n "skills.skills" }}</h3>
          {{ range .Site.Data.skills.items }}
          <div class="pb-4">
            <div class="d-flex">
              <span class="flex-fill">{{ .title }}</span>
              <span class="flex-fill text-end percent">{{ .progress | default 0 }}</span>
            </div>
            <div class="rounded-pill mt-2 bar">
              <div class="rounded-pill" style="width: {{ .progress | default 0 }}%"></div>
            </div>
            {{- if .description }}
            <div class="row pt-2 opacity-75">
              <p>{{ .description }}</p>
            </div>
            {{- end }}
          </div>
          {{- end }}
        </div>
        {{- end }}
        {{ if .Site.Data.projects.items }}
        <div class="projects">
          <h3 class="pb-5 text-uppercase">{{ i18n "projects.oss-projects" }}</h3>
          {{ range .Site.Data.projects.items }}
          <div class="project">
            <h4 class="mb-2">
              <a href="{{ .link }}" target="_blank">{{ .title }}</a>
              {{- if .gitHubRepo }}
              <picture>
                <source
                  srcset="https://img.shields.io/github/stars/{{ .gitHubRepo }}?color=2f2f2f&labelColor=2f2f2f&label=%E2%AD%90&style=flat-square"
                  media="(prefers-color-scheme: dark)">
                <img alt="stargazers"
                     src="https://img.shields.io/github/stars/{{ .gitHubRepo }}?color=fff&labelColor=fff&label=%E2%AD%90&style=flat-square">
              </picture>
              {{- end }}
            </h4>
            {{ .description }}
          </div>
          {{- end }}
        </div>
        {{- end }}
      </div>
    </div>
  </div>
</section>
