<section class="about-me">
  <div class="container col-lg-12 col-xl-10 col-xxl-8">
    <div class="row">
      <div class="col-12 col-lg-7 experience">
        <h3 class="pb-5 text-uppercase">Experience</h3>
        <ul class="list list-unstyled ps-1">
          <li>
            <h4 class="my-0">Go Dev, DevOps</h4>
            <span><a href="https://yetanotherdefi.com/" rel="nofollow">YetAnotherDeFi</a></span>
            <span class="data">2022-2022</span>
            <span><i class="ti ti-map-pin"></i> Georgia, Tbilisi</span>
            <ul class="py-2">
              <li>
                Developed services in Go - blockchain state changes' watcher (pub/sub model, GRPC streaming as a
                transport), dynamic proxy service, etc
              </li>
              <li>
                Developed and deployed fault-tolerance infrastructure using HashiStack (Consul, Nomad, Traefik)
                with monitoring and logs aggregation (Prometheus, Promtail, Grafana)
              </li>
              <li>
                Built up all project CI/CD processes and integrations with 3rd party services using GitHub Actions
              </li>
            </ul>
            <ul class="list-inline">
              <li class="list-inline-item">Stack:</li>
              <li class="list-inline-item"><span class="badge">YouTrack</span></li>
              <li class="list-inline-item"><span class="badge">Go</span></li>
              <li class="list-inline-item"><span class="badge">GRPC</span></li>
              <li class="list-inline-item"><span class="badge">GitHub Actions</span></li>
              <li class="list-inline-item"><span class="badge">HashiStack</span></li>
              <li class="list-inline-item"><span class="badge">Ansible</span></li>
            </ul>
            <!--            <p>Solutions research and microservices development in Go. Development and deployment of fault-tolerance-->
            <!--              infrastructure using HashiStack. CI/CD processes bootstrapping.</p>-->
          </li>
          <li>
            <h4 class="my-0">Solution Architect, SRE</h4>
            <span><a href="https://spiralscout.com/" rel="nofollow">SpiralScout</a></span>
            <span class="data">2021-2021</span>
            <span><i class="ti ti-map-pin"></i> USA, San Francisco (remote)</span>
            <p>Projects estimation & solutions preparing. Development of services (Go), solutions research for the
              infrastructure.</p>
          </li>
          <li>
            <h4 class="my-0">Go/PHP Dev, Solution Architect</h4>
            <span><a href="https://spectrumdata.ru/" rel="nofollow">SpectrumData</a></span>
            <span class="data">2017-2021</span>
            <span><i class="ti ti-map-pin"></i> Russia, Ekaterinburg</span>
            <p>Development of microservice architecture for a high load projects, and services development. Moved all
              work with applications to the Docker environment. Creating the RnD unit for solving unsolvable
              problems.</p>
          </li>
          <li>
            <h4 class="my-0">Individual business</h4>
            <span class="data">2012-2017</span>
            <span><i class="ti ti-map-pin"></i> Russia, Tyumen</span>
            <p>Maintenance of organizations, development of automation systems.</p>
          </li>
        </ul>
      </div>
      <div class="col-12 col-lg-5">
        <div class="skill">
          <h3 class="text-uppercase pb-5">Skills</h3>
          <div class="pb-4">
            <div class="d-flex">
              <span class="flex-fill">Go (GoLang)</span>
              <span class="flex-fill text-end percent">90</span>
            </div>
            <div class="rounded-pill mt-2 bar">
              <div class="rounded-pill" style="width: 90%"></div>
            </div>
          </div>
          <div class="pb-4">
            <div class="d-flex">
              <span class="flex-fill">Docker</span>
              <span class="flex-fill text-end percent">90</span>
            </div>
            <div class="rounded-pill mt-2 bar">
              <div class="rounded-pill" style="width: 90%"></div>
            </div>
          </div>
          <div class="pb-4">
            <div class="d-flex">
              <span class="flex-fill">CI/CD</span>
              <span class="flex-fill text-end percent">75</span>
            </div>
            <div class="rounded-pill mt-2 bar">
              <div class="rounded-pill" style="width: 75%"></div>
            </div>
          </div>
          <div class="pb-4">
            <div class="d-flex">
              <span class="flex-fill">Ansible & Infrastructure</span>
              <span class="flex-fill text-end percent">55</span>
            </div>
            <div class="rounded-pill mt-2 bar">
              <div class="rounded-pill" style="width: 55%"></div>
            </div>
          </div>
          <div class="pb-4">
            <div class="d-flex">
              <span class="flex-fill">NodeJS / VueJS</span>
              <span class="flex-fill text-end percent">45</span>
            </div>
            <div class="rounded-pill mt-2 bar">
              <div class="rounded-pill" style="width: 45%"></div>
            </div>
          </div>
        </div>
        <div class="projects">
          <h3 class="pb-5 text-uppercase">Open-source projects</h3>

          <div class="project">
            <h4 class="mb-2">
              /<span class="lang go">go</span>/<a href="https://github.com/tarampampam/error-pages">error-pages</a>
              <picture>
                <source
                  srcset="https://img.shields.io/github/stars/tarampampam/error-pages?color=2f2f2f&labelColor=2f2f2f&label=%E2%AD%90&style=flat-square"
                  media="(prefers-color-scheme: dark)">
                <img alt="stargazers"
                     src="https://img.shields.io/github/stars/tarampampam/error-pages?color=fff&labelColor=fff&label=%E2%AD%90&style=flat-square">
              </picture>
            </h4>

            <p class="mb-0">Pretty server's error pages in the docker image & git repository</p>
          </div>

          <div class="project">
            <h4 class="mb-2">
              /<span class="lang go">go</span>/<a
              href="https://github.com/tarampampam/webhook-tester">webhook-tester</a>
              <picture>
                <source
                  srcset="https://img.shields.io/github/stars/tarampampam/webhook-tester.svg?color=2f2f2f&labelColor=2f2f2f&label=%E2%AD%90&style=flat-square"
                  media="(prefers-color-scheme: dark)">
                <img alt="stargazers"
                     src="https://img.shields.io/github/stars/tarampampam/webhook-tester.svg?color=fff&labelColor=fff&label=%E2%AD%90&style=flat-square">
              </picture>
            </h4>

            <p class="mb-0">Allows you to easily test webhooks and other types of HTTP requests</p>
          </div>

          <div class="project">
            <h4 class="mb-2">
              /<span class="lang js">js</span>/<a href="https://github.com/tarampampam/random-user-agent">random-user-agent</a>
              <picture>
                <source
                  srcset="https://img.shields.io/github/stars/tarampampam/random-user-agent.svg?color=2f2f2f&labelColor=2f2f2f&label=%E2%AD%90&style=flat-square"
                  media="(prefers-color-scheme: dark)">
                <img alt="stargazers"
                     src="https://img.shields.io/github/stars/tarampampam/random-user-agent.svg?color=fff&labelColor=fff&label=%E2%AD%90&style=flat-square">
              </picture>
            </h4>

            <p class="mb-0">Browser extension that automatically replaces the User-Agent with a randomized one</p>
          </div>

          <div class="project">
            <h4 class="mb-2">
              /<span class="lang c">c</span>/<a href="https://github.com/tarampampam/mustpl">mustpl</a>
              <picture>
                <source
                  srcset="https://img.shields.io/github/stars/tarampampam/mustpl.svg?color=2f2f2f&labelColor=2f2f2f&label=%E2%AD%90&style=flat-square"
                  media="(prefers-color-scheme: dark)">
                <img alt="stargazers"
                     src="https://img.shields.io/github/stars/tarampampam/mustpl.svg?color=fff&labelColor=fff&label=%E2%AD%90&style=flat-square">
              </picture>
            </h4>

            <p class="mb-0">Logic-less CLI templating tool</p>
          </div>

          <div class="project">
            <h4 class="mb-2">
              /<a href="https://github.com/gacts">gacts</a>
            </h4>

            <p class="mb-0">GitHub actions for all occasions</p>
          </div>

          <div class="project">
            <h4 class="mb-2">
              /<a href="https://github.com/iddqd-uk">iddqd-uk</a>
            </h4>

            <p class="mb-0">Infrastructure as a game (pet projects' home)</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
