:root {
  --color-bg-primary: #fff;
  --color-bg-light: #f2f2f2;
  --color-bg-inverted: #3a3a3a;

  --color-text-primary: #454545;
  --color-text-light: #aaa;
  --color-text-inverted: #fff;

  --color-border-primary: #454545;
  --color-border-light: #aaa;
  --color-border-inverted: #fff;

  --color-lang-go: #008aad;
  --color-lang-c: #7c7c7c;
  --color-lang-js: #dcbc30;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-bg-primary: #2f2f2f;
    --color-bg-light: #343434;
    --color-bg-inverted: #eaeaea;

    --color-text-primary: #eaeaea;
    --color-text-light: #666;
    --color-text-inverted: #2f2f2f;

    --color-border-primary: #eaeaea;
    --color-border-light: #666;
    --color-border-inverted: #2f2f2f;

    --color-lang-go: #00add8;
    --color-lang-c: #b4b4b4;
    --color-lang-js: #f1e05a;
  }
}
