@import "colors";

body {
  font-family: 'Asap', sans-serif;
  background-color: var(--color-bg-primary);
  color: var(--color-text-primary);
}

a, a:hover {
  color: var(--color-text-primary);
}

h1, h2, h3 {
  position: relative;
  font-weight: 700;
  letter-spacing: 2px;
}

h1:before, h2:before {
  content: "";
  position: absolute;
  left: 0;
  top: -.15em;
  width: 1em;
  height: .15em;
  background: var(--color-text-primary);
}

@import "sections/about";
@import "sections/experience";
@import "sections/skills";
@import "sections/project";
@import "sections/contact";
