@import "variables";
@import "colors";

html, body {
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
  background-color: var(--color-bg-primary);
  color: var(--color-text-primary);
}

code {
  color: var(--color-text-primary);
}

a {
  $underline-width: .13em;

  &, &:hover {
    color: var(--color-text-primary);
  }

  &:not(.no-underline) {
    border-bottom: $underline-width solid var(--color-text-light);
    position: relative;
    text-decoration: none;

    &:before {
      content: "";
      display: block;
      width: 100%;
      height: $underline-width*2;
      background-color: var(--color-link-underline);
      position: absolute;
      left: 0;
      bottom: -$underline-width*2;
      transform-origin: left;
      transform: scale(0);
      transition: 150ms linear;
    }

    &:hover:before {
      transform: scale(1);
    }
  }
}

h1, h2, h3, h4, h5, h6 {
  letter-spacing: -.035em;
}

h1, h2, h3 {
  position: relative;
  font-weight: 700;
}

h1:before {
  content: "";
  position: absolute;
  left: 0;
  top: -.15em;
  width: 1em;
  height: .15em;
  background: var(--color-text-primary);
}

@import "sections/about";
@import "sections/experience";
@import "sections/skills";
@import "sections/project";
@import "sections/contact";
