.about-me {
  & > .container {
    padding-top: 13vh;
  }

  .content p {
    margin-top: 0;
    margin-bottom: 0;
  }

  .alt-languages {
    .icon svg {
      height: 1.3em;
    }
  }

  .extra {
    .icon svg {
      height: 3em;
    }
  }
}

@media print {
  .about-me .alt-languages {
    display: none !important;
  }
}
