@import "../variables";

.about-me {
  & > .container {
    padding-top: 9vh;
  }

  .content {
    h1, h2, h3, h4, h5, h6 {
      padding-bottom: .4em;
    }

    p {
      margin-top: 0;
      margin-bottom: 1em;
    }
  }

  .alt-languages {
    .icon svg {
      height: 1.3em;
    }
  }

  .extra {
    h1:before, h2:before {
      display: none;
    }

    a {
      font-weight: 600;
    }

    .icon svg {
      height: 2em;
    }
  }
}

@media print {
  .about-me {
    & > .container {
      margin-left: 10%;
      margin-right: 5%;
      width: 85%;
      max-width: 85%;
    }

    .alt-languages {
      display: none !important;
    }
  }
}
