.contact {
  margin-top: 2rem;
  padding-top: 4rem;
  background-image: linear-gradient(180.7deg, var(--color-bg-primary) 10%, var(--color-bg-light) 10.5%);

  h1 {
    font-size: 2em;
  }

  textarea,
  textarea:focus,
  input,
  input:focus,
  button,
  button:focus {
    font-weight: 500;
    background-color: var(--color-bg-primary);
    color: var(--color-text-primary);
  }

  textarea::placeholder,
  input::placeholder {
    color: var(--color-text-light);
  }

  button .icon svg {
    height: 1.3em;
  }
}

@media print {
  .contact {
    display: none;
  }
}
