.experience .list > li {
  position: relative;
  border-left: 2px solid var(--color-border-primary);
  padding-left: 30px;
  padding-bottom: 3rem;
}

.experience .list > li:last-child {
  padding-bottom: 0;
}

.experience .list > li:after {
  position: absolute;
  top: 0;
  left: -.69em;
  width: 1.2em;
  height: 1.2em;
  border-radius: 50%;
  border: 2px solid;
  background: var(--color-border-inverted);
  content: '';
  transition: background-color 300ms;
}

.experience .list > li:hover:after {
  background: var(--color-border-primary);
}

.experience .list > li h4 {
  position: relative;
  top: -.15em;
  font-weight: 600;
}

.experience .list > li span,
.experience .list > li .data {
  font-weight: 600;
}

.experience .list .badge {
  font-size: .85em;
  background-color: var(--color-bg-light);
}
