.projects {
  .project {
    margin-bottom: 1.5rem;

    .stargazers {
      font-size: .7em;
      font-weight: 600;
      padding-left: .5em;

      .icon svg {
        height: 1.1em;
        margin-bottom: .15em;
      }
    }
  }
}
