@import "../variables";

.skill {
  padding-top: $block-top-offset;

  span {
    font-weight: 600;
  }

  .icon svg {
    height: 1.3em;
  }

  .percent:after {
    content: "%";
  }

  .bar {
    border: 2px solid var(--color-border-primary);

    & > div {
      height: .7em;
      margin: 4px;
      background-color: var(--color-border-primary);
      -webkit-print-color-adjust: exact;
    }
  }
}
