enableEmoji: true
noChmod: true # Don’t sync permission mode of files
noTimes: true # Don’t sync modification time of files
disableHugoGeneratorInject: true

caches:
  getJson: {dir: ':resourceDir/_cache', maxAge: 6h}
  getResource: {dir: ':resourceDir/_cache', maxAge: 6h}

enableRobotsTXT: true
disableKinds: ['RSS', 'taxonomy', 'taxonomyTerm', 'section', 'term']
googleAnalytics: G-5SHWL5FG06

params:
  noindex: true
  cvDownload:
    showButton: true
    downloadFileName: resume_nick_software_engineer_solution_architect
  keywords:
    - tarampampam
    - cv
  description: Tarampampam's CV
  formspree:
    url: https://formspree.io/f/mqkjavza

languageCode: en-us
defaultContentLanguage: en
languages:
  en:
    languageName: English
    title: Tarampampam's CV
    weight: 10
    params:
      cvLink: /cv.pdf

  ru:
    languageName: Русский
    title: Резюме
    weight: 5
    params:
      cvLink: /ru/cv.pdf
