<meta charset="utf-8">
<meta name="robots" content="noindex, nofollow"/>
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>

<link rel="preconnect" href="https://fonts.bunny.net/" crossorigin>

{{ template "_internal/twitter_cards.html" . }}
{{ template "_internal/opengraph.html" . }}

<title>{{ if .IsHome }}{{ .Site.Title }}{{ else }}{{ .Title }}{{ end }}</title>

{{ $css := slice
  "https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css"
  "https://cdn.jsdelivr.net/npm/@tabler/icons@1.91.1/iconfont/tabler-icons.min.css"
  "https://fonts.bunny.net/css2?family=Asap:wght@400;500;600;700&family=Josefin+Sans:wght@300;400;500;600;700&display=swap" }}

{{- range $css }}
<link rel="stylesheet" href="{{ . }}" media="none" onload="this.media='all'">
{{- end }}

<noscript>
  {{- range $css }}
  <link rel="stylesheet" href="{{ . }}" crossorigin="anonymous">
  {{- end }}
</noscript>

<style>{{ ((resources.Get "styles/style.scss") | resources.ToCSS | minify).Content | safeCSS }}</style>
