<meta charset="utf-8">
<meta name="robots" content="noindex, nofollow"/>
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>

{{ template "_internal/twitter_cards.html" . }}
{{ template "_internal/opengraph.html" . }}

<title>{{ if .IsHome }}{{ .Site.Title }}{{ else }}{{ .Title }}{{ end }}</title>

<link rel="preconnect" href="https://cdn.jsdelivr.net" crossorigin>
<link rel="preconnect" href="https://fonts.bunny.net" crossorigin>
<link rel="dns-prefetch" href="https://fonts.bunny.net">

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css"
      media="none" onload="this.media='all'">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@tabler/icons@1.91.1/iconfont/tabler-icons.min.css"
      media="none" onload="this.media='all'"><!-- https://tabler-icons.io/ -->
<link rel="stylesheet"
      href="https://fonts.bunny.net/css2?family=Asap:wght@400;500;600;700&family=Josefin+Sans:wght@300;400;500;600;700&display=swap"
      media="none" onload="this.media='all'">

{{ $sass := resources.Get "styles/style.scss" }}
{{ $style := $sass | resources.ToCSS | minify | resources.Fingerprint "sha256" }}
<link rel="stylesheet" href="{{ $style.RelPermalink }}">

<noscript>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css"
        crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@tabler/icons@1.91.1/iconfont/tabler-icons.min.css"
        crossorigin="anonymous">
  <link rel="stylesheet"
        href="https://fonts.bunny.net/css2?family=Asap:wght@400;500;600;700&family=Josefin+Sans:wght@300;400;500;600;700&display=swap">
</noscript>
