name: codespace-on

on:
  workflow_dispatch: {}
  schedule: [cron: '0 4 * * *'] # UTC time (8am in Baku UTC+04:00)

concurrency:
  group: ${{ github.ref }}-codespace
  cancel-in-progress: true

jobs:
  switch-on:
    name: Power on the codespace server
    runs-on: ubuntu-latest
    steps:
    - name: Call the API endpoint
      uses: fjogeleit/http-request-action@v1
      with:
        url: 'https://api.hetzner.cloud/v1/servers/${{ secrets.HCLOUD_CODESPACE_SERVER_ID }}/actions/poweron'
        method: 'POST'
        customHeaders: '{"Authorization": "Bearer ${{ secrets.HCLOUD_API_KEY }}"}'
