name: update-cv

on:
  workflow_dispatch: {}
  schedule: [cron: '0 0 */1 * *']
  push:
    branches: [master, main]
    paths: [cv/**, .github/workflows/update-cv.yml]

concurrency:
  group: ${{ github.ref }}-cv
  cancel-in-progress: true

jobs:
  generate-pdf:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - uses: peaceiris/actions-hugo@v2
        with: {hugo-version: 0.101.0, extended: true}

      - run: sudo apt install wkhtmltopdf # https://wkhtmltopdf.org/

      - run: hugo --minify -d ./../4pdf
        env: {HUGO_RELATIVEURLS: true, HUGO_GOOGLEANALYTICS: ''}
        working-directory: ./cv

      - run: wkhtmltopdf ./4pdf/index.html ./en.pdf

      - run: wkhtmltopdf ./4pdf/ru/index.html ./ru.pdf

      - uses: actions/upload-artifact@v3
        with: {name: en.pdf, path: ./en.pdf, retention-days: 1}

      - uses: actions/upload-artifact@v3
        with: {name: ru.pdf, path: ./ru.pdf, retention-days: 1}

  update-cv-page:
    permissions:
      pages: write
      id-token: write
    environment:
      name: cv
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    needs: [generate-pdf]
    steps:
      - uses: actions/checkout@v3

      - uses: peaceiris/actions-hugo@v2
        with: {hugo-version: 0.101.0, extended: true}

      - run: hugo --minify --baseURL "https://tarampamp.am/" -d ./dist
        working-directory: ./cv

      - uses: actions/download-artifact@v3
        with: {name: en.pdf, path: ./cv/dist}

      - uses: actions/download-artifact@v3
        with: {name: ru.pdf, path: ./cv/dist/ru}

      - run: ls -l ./cv/dist ./cv/dist/ru

      - run: tar --dereference --hard-dereference -C ./cv/dist -cvf ${{ runner.temp }}/artifact.tar .

      - uses: actions/upload-artifact@v3
        with:
          name: github-pages # don't change this
          path: ${{ runner.temp }}/artifact.tar
          retention-days: 1

      - {uses: actions/deploy-pages@v1, id: deployment}
