name: update-cv

on:
  workflow_dispatch: {}
  schedule: [cron: '0 0 */1 * *']
  push:
    branches: [master, main]
    paths: [cv/**, .github/workflows/update-cv.yml]

concurrency:
  group: ${{ github.ref }}-cv
  cancel-in-progress: true

jobs:
  update-cv-page:
    permissions:
      pages: write
      id-token: write
    environment:
      name: cv
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - uses: peaceiris/actions-hugo@v2
        with: {hugo-version: 0.101.0, extended: true}

      - run: hugo --minify --environment production --baseURL "https://tarampamp.am/" -d ./dist
        working-directory: ./cv

      - run: tar --dereference --hard-dereference -C ./cv/dist -cvf ${{ runner.temp }}/artifact.tar .

      - uses: actions/upload-artifact@main
        with:
          name: github-pages # don't change this
          path: ${{ runner.temp }}/artifact.tar
          retention-days: 1

      - {uses: actions/deploy-pages@v1, id: deployment}
