name: update-index

on:
  workflow_dispatch: {}
  push:
    branches: [master, main]
    paths: [index/**, .github/workflows/update-index.yml]

concurrency:
  group: ${{ github.ref }}-index
  cancel-in-progress: true

jobs:
  publish:
    name: Publish
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - uses: cloudflare/pages-action@1
        with:
          apiToken: ${{ secrets.CLOUDFLARE_PAGES_DEPLOY_TOKEN }}
          accountId: ${{ secrets.CLOUDFLARE_ACCOUNT_ID }}
          projectName: index-tarampamp-am
          directory: ./index
          branch: main # aka CF "production" environment
          gitHubToken: ${{ secrets.GITHUB_TOKEN }}
